*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    height: 3000px;
}

ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}
button:focus{
    outline: none;
}