.sign-up{
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(0, 162, 255);
    border: 1px solid rgb(0, 162, 255);
    transition: all 0.4s ease-in-out;
    &:hover{
        background-color: #fff;
        color: rgb(0, 162, 255);
    }
}


.sign-in{
    padding: 10px 20px;
    color: rgb(0, 162, 255);
    background-color: #fff;
    border: 1px solid rgb(0, 162, 255);
    transition: all 0.4s ease-in-out;
    &:hover{
        background-color: rgb(0, 162, 255);
        color: #fff;
    }
}

